# Environment variables
.env
.env.*
.env.local
.env.development
.env.production

# Editor swap files
*.swp
*.swo
*~

# Dependencies
node_modules/
venv/
sdp_venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
